.btn {

	width: 350px;
	background-color: #d3d3d3;
	margin: 0 auto;
}

.btn-choice {

	width: 350px;
	background-color: #d3d3d3;
	margin: 10px auto;
	display: block;
}

.timer {

	min-height: 30px;

}

.question {

	min-height: 200px;
	margin: 30px auto;
	font-weight: bold;
	font-size: 30px;
	color: white;

}

.correctIncorrect, .timer {

	margin: 30px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

body {
	background-image: url("../../assets/images/4919631-game-of-thrones-map-wallpaper.jpg");
	background-repeat: no-repeat, repeat;

}

img {
	max-width: 300px;
}